.menu {
display: flex;
justify-content: end;
}
.button {
    padding-right: 60px;
    border: 2px solid black;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100px;
}
.lat {
    font-size: 25px;
}
.tel {
    display: none;
}
@media screen and (max-width: 768px) {
    .tel {
        display: flex;
    }
    .button {
        display: none;
    }
}